body{
    font-family: 'Poppins', sans-serif
}
body{
    margin:0;
}
h1{
    font-size:50px;
}
span{
    color:orange;
}
section{
    display:flex;
}
.half-width{
    width:80%;
    padding-left:50px;
}
.half-width img{
    width:760px; 
    height:500px;
    
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding:10px 40px;
    border-radius:5px;
    color:white;
    font-weight:700;

}
p{
    text-align:justify;
}
.dream-big{
    margin-top:150px;
    background-position:right;
}
.top-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:top left 0px;
}
.full-stack{
    width: 3px;00px;
    height:300px;
    margin-left:5%;
    margin-right:5%;
    margin-bottom: 20px;;
    box-shadow:10px 10px 40px gray;
    padding-left:20px;
    text-align: justify;
    display: inline-block;
    float:left;
    
}
#web{
    border-left: 7px solid tomato;
width: 50%;
float: left;
}
#baby{
    border-left: 7px solid blue;
    width:50%;
    float: left;
}
